<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div class="holder">
        <div class="headline">
            <h1>Weather App</h1>
        </div>

        <label for="cityName">Enter City name</label>
        <input type="text" id="cityName" placeholder="enter city name here">
        <label for="tripStart">Trip Start date:</label>
        <input type="date" id="tripStart" name="trip-start"
               value="2020-11-10"
               min="2020-11-1" max="2020-11-15">
        <label for="tripEnd">Trip End date:</label>
        <input type="date" id="tripEnd" name="trip-end"
               value="2020-11-15"
               min="2020-11-2" max="2020-11-30">
        <button id="generate" type="submit">Generate</button>

        <div class="title">
            <h2>Results</h2>
        </div>

        <div id="entryHolder">
            <div id="weatherString"></div>
            <div id="tripDuration"></div>
            <img id="imgId"/>
        </div>
    </div>
</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        console.log('Adding serviceWorker');
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>
